@font-face {font-family: "Gotham Medium"; src: url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.eot"); src: url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.woff") format("woff"), url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.svg#Gotham Medium") format("svg"); }
@font-face {font-family: "Gotham Book"; src: url("//db.onlinewebfonts.com/t/5b03134750193d9ccae6cbcafacaaae1.eot"); src: url("//db.onlinewebfonts.com/t/5b03134750193d9ccae6cbcafacaaae1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5b03134750193d9ccae6cbcafacaaae1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5b03134750193d9ccae6cbcafacaaae1.woff") format("woff"), url("//db.onlinewebfonts.com/t/5b03134750193d9ccae6cbcafacaaae1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5b03134750193d9ccae6cbcafacaaae1.svg#IXOXQV+Gotham-Book") format("svg"); }
@font-face {font-family: "Gotham Light"; src: url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.eot"); src: url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.woff") format("woff"), url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.svg#Gotham") format("svg"); }
@font-face {font-family: "Gotham Bold"; src: url("//db.onlinewebfonts.com/t/db33e70bc9dee9fa9ae9737ad83d77ba.eot"); src: url("//db.onlinewebfonts.com/t/db33e70bc9dee9fa9ae9737ad83d77ba.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/db33e70bc9dee9fa9ae9737ad83d77ba.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/db33e70bc9dee9fa9ae9737ad83d77ba.woff") format("woff"), url("//db.onlinewebfonts.com/t/db33e70bc9dee9fa9ae9737ad83d77ba.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/db33e70bc9dee9fa9ae9737ad83d77ba.svg#Gotham") format("svg"); }

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: white;
}

#header {
    background: url('../images/backgroundredcar.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

section {
    height: 100vh;
}

img {
    width: 40px;
}

/* Model 3 Home Section */

#logo {
    position: fixed;
    float: left;
    z-index: 10;
}

#logo img {
    width: 120px;
}

#carmodels {
    padding-top: 10px;
}

#carmodels ul {
    text-align: center;
    height: 0;

}

#navbar #sidemenu {
    float: right;
    padding-right: 20px;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    display: inline-block;
    padding: 10px;
}

#model h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}

#model .model-content {
    text-align: center;
    padding-top: 80px;
}

#showoff {
    left: 33%;
}

#showoff .vlined {
    text-align: center;
}

/* Safety Section */

#safety {
    background-color: #F2F2F2;
}

#safety #img-container-safety {
    background: url('../images/model_3_safety.png') no-repeat center center/cover;
    background-position: -40vh;
    min-height: 100%;
    width: 73%;
    float: right;
}

#safety #description-safety {
    background-color: #fff;
    min-height: 100%;
    width: 27%;
    float: left;
}

#safety #description-safety #exaggerated-rating-box {
    background-color: #EEEEEE;
}

#safety #description-safety #exaggerated-rating-box #rating-header {
    color: #171a20;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 20px;
}

#safety #description-safety #exaggerated-rating-box #rating-box-container {
    padding: 25px;  
}

.rating-block {
    padding-bottom: 8px;
}

.rating-row {
    display: block;
}

.rating-row .stars {
   float: right;
}

/* Range Section */

#range {
    background-color: #F2F2F2;
}

#range #range-container {
    margin: 30px 30px;
}

#range #img-container-range {
    background: url('../images/range-background.jpg') no-repeat center center/cover;
    min-height: 100%;
    width: 73%;
    float: left;
    position: relative;
}

#range #description-range {
    background-color: #fff;
    min-height: 100%;
    width: 27%;
    float: right;
}

.side-container {
    margin: 30px 30px 0px 22px;
}

.side-container > div {
    padding-bottom: 20px;
}

.container-info div {
    padding-top: 20px;
}

.container-info h2 {
    color: #171a20;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.container-para p {
    color: #393c41;
    font-size: 14px;
    line-height: 21px;
}

.inner-container {
    min-height: 100px;
    height: 300px;
    border-radius: 25px;
}

#range-map {
    background: url("../images/map_range.jpg") no-repeat;
    background-size: cover;
    background-position: 64%;
}

/* Perdormance Section */

#performance #performance-up {
    background: url("../images/performance-background.jpg") no-repeat center center/cover;
    height: 66vh;
    position: relative;
}

/* All-Wheel-Drive Section */

#all-wheel-drive {
    height: 100vh;
}

#all-wheel-drive #all-wheel-drive-up {
    background: url("../images/allwheeldrive-background.jpg") no-repeat center center/cover;
    height: 66vh;
    position: relative;
}

/* AutoPilot Section */

#autopilot #autopilot-up {
    background: url("../images/performance-background.jpg") no-repeat center center/cover;
    height: 66vh;
    position: relative;
}

#autopilot #autopilot-up video{
    object-fit: cover;
    position: relative;
    height: 66vh;
    min-width: 100%;
}

#autopilot-details #upper-diff {
    font-weight: 500;
}

#car-icon {
    width: 80px;
}

.lined > * {
    display: inline-block;
}

#upper-diff {
    display: block;
}

/* Interior Section */

#interior-up {
    background: url("../images/interior-background.jpg") no-repeat center center/cover;
    height: 66vh;
    position: relative;
}

#interior-details {
    float: right;
}

/* Specs Section */

#specs {
    background-color: #000000;
}

#specs #img-container-specs {
    min-height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

#specs img {
    width: 100%;
    position: absolute;
    top: 25%;
}

#specs #description-specs {
    min-height: 100%;
    width: 50%;
    float: right;
    position: relative;
}

#specs-container .vr-info {
    bottom: 5vh;
    position: static;
}

#specs-performance-details > div {
    display: inline-block;
}

#specs-performance-details .first-line-bold {
    font-family: "Gotham Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#specs-performance-details .hlined {
    padding: 0px 0px;
}

#specs-performance-details #left-list {
    padding-right: 50px;
}

/* Order Section */

#order {
    background-color: #000000;
}

#order #img-container-order {
    min-height: 100%;
    width: 55%;
    float: right;
    position: relative;
}

#order #buttons-order {
    min-height: 100%;
    width: 45%;
    float: left;
    position: relative;
}

#order img {
    width: 100%;
    position: absolute;
    top: 30%;
}

#order #button-box {
    position: absolute;
    left: 35%;
    top: 40%;
}

/* Footer */

footer {
    background-color: #000000;
    min-width: 100%;
    position:absolute;
}

footer .footer {
    text-align: center;
}

footer ul {
    list-style: none;
    margin-bottom: 15px;
}

footer ul li {
    display: inline-block;
    padding: 0px 10px;
}

/*              Utility              */

/* Fonts, Text styles */

.maintext {
    font-family: "Gotham Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.bigger-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.main-text-dark {
    color: #171a20;
}

.text-light {
    font-family: "Gotham Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    color: #171a20;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
}

.rating-block .text-bold {
    font-family: "Gotham Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #393c41;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

}

.rating-block .text-medium-rating {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #171a20;
}

.rating-block .text-small-catg-desc {
    color: #393c41;
    font-size: 8px;
    line-height: 8px;
}

.text-book-black {
    color: #000000;
}

.text-book-dark {
    color: #171a20;
    line-height: 21px;
}

/* buttons styles */

.button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    color: white;
    padding: 10px 35px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer; 
 }

.btn-dark {
     margin-top: 10px;
     border: 3px solid black;
     color: #171a20;
     padding: 10px 35px;
 }

.button-text {
    font-size: 12px;
    line-height: 14px;
}

.white-bg {
    background-color: #F4F4F4;
}

.spec-perf-text-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.spec-button {
    font-weight: 500;
    line-height: 21px;
    border-color: #393C41;
    padding: 0px 16px;
    margin-bottom: 10px;
    width: 230px;
    height: 40px; 
}

.order-button {
    margin-top: 20px;
    width: 200px;
}

.selected-btn {
    border: 4px solid #D0D1D2;
}

.compare-btn {
    background-color: #393C41;
}

.buttons > span {
     padding: 0px 2px;
 }


.buttons .round-btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 0;
}

/* Vertical Items */

.vlined {
    border-right: 1px solid white;
}

.vlined p span{
      display: block;
}

.vr-info {
    position: absolute;;
    bottom: 8vh;
}

.vr-left {
    left: 20vh;
}

.vr-right {
    right: 10vh;
}

.vr-info > div > span {
    display: block;
}

.vr-info .showoff-button {
    position: relative;
    bottom: 15px;
}

/* Horizontal Items */

.hr-info {
    position: absolute;;
    bottom: 10vh;
    left: 20%;
}

.hr-info > div {
    display: inline-block;
    padding: 0px 20px;
}

.hr-info > div > span {
    display: block;
}

.hr-info .showoff-button {
    position: relative;
    bottom: 15px;
}

.hlined {
    padding: 30px 0px;
}

.hlined p span{
      display: block;
}

.hlined .hlined-desc {
    padding-bottom: 30px;
}

/* containers types */

.container {
    margin: auto;
    max-width: 100%;
}

.bottom-container {
    position: absolute;
    padding: 48px 0px;
    left: 20%;
}

.bottom-container > div {
    display: inline-block;
    padding-right: 20px;
}

/* boxes  */

.box-header {
    padding-bottom: 10px;
}

.box-left {
    width: 50vh;
    padding: 0px 18px;
    float: left;
}

.box-right > span {
    display: block;
    font-size: 14px;
    color: #393c41;
}

/* pseudo elements (like the vertical and horizontal lines) */

.horizontal-line {
    content: "";
    border-top: 1px solid black;
    width: 25%;
}

.hl-light {
    border-top: 1px solid white;
}

.hl-dark {
    border-color: #404040;
}


.text-block > span {
    display: block;
}
